<%= render "layouts/banner" %>
<main class="main-content">
  <section class="book-collection">
    <div class="container">
      <div class="row">
        <div id="book-collections-tabs">
          <div class="col-lg-3 col-sm-12">
          </div>
          <div class="col-lg-9 col-sm-12">
            <div class="collection">
              <div class="sec-heading">
                <h3><%= t ".shop" %> <span class="theme-color"><%= t ".books" %></span> <%= t ".collection" %></h3>
                <a class="view-all" href="/books"><%= t ".view_all" %><i class="fa fa-angle-double-right"></i></a>
              </div>
              <div class="collection-content">
                <ul>
                  <li>
                    <div class="s-product">
                      <div class="s-product-img">
                        <%= image_tag "gray.png" %>
                        <div class="s-product-hover">
                          <div class="position-center-x">
                            <a href="#" class="plus-icon"><i class="fa fa-shopping-cart"></i></span>
                            <a class="btn-1 sm shadow-0" data-toggle="modal" data-target="#quick-view" href="#"><%= t ".quick_view" %></a>
                          </div>
                        </div>
                      </div>
                      <h6><a href="book-detail.html">Ramadan Kareem</a></h6>
                      <span>Richard Matherson</span>
                    </div>
                  </li>
                  <li>
                    <div class="s-product">
                      <div class="s-product-img">
                        <%= image_tag "gray.png" %>
                        <div class="s-product-hover">
                          <div class="position-center-x">
                            <a href="#" class="plus-icon"><i class="fa fa-shopping-cart"></i></span>
                            <a class="btn-1 sm shadow-0" data-toggle="modal" data-target="#quick-view" href="#">Quick view</a>
                          </div>
                        </div>
                      </div>
                      <h6><a href="book-detail.html">Mars Club</a></h6>
                      <span>Eden Lepucki</span>
                    </div>
                  </li>
                  <li>
                    <div class="s-product">
                      <div class="s-product-img">
                        <%= image_tag "gray.png" %>
                        <div class="s-product-hover">
                          <div class="position-center-x">
                            <a href="#" class="plus-icon"><i class="fa fa-shopping-cart"></i></span>
                            <a class="btn-1 sm shadow-0" data-toggle="modal" data-target="#quick-view" href="#">Quick view</a>
                          </div>
                        </div>
                      </div>
                      <h6><a href="book-detail.html">Festa Junnai</a></h6>
                      <span>George R.R. Martin</span>
                    </div>
                  </li>
                  <li>
                    <div class="s-product">
                      <div class="s-product-img">
                        <%= image_tag "gray.png" %>
                        <div class="s-product-hover">
                          <div class="position-center-x">
                            <a href="#" class="plus-icon"><i class="fa fa-shopping-cart"></i></span>
                            <a class="btn-1 sm shadow-0" data-toggle="modal" data-target="#quick-view" href="#">Quick view</a>
                          </div>
                        </div>
                      </div>
                      <h6><a href="book-detail.html">Beer Fsstivak</a></h6>
                      <span>Micheal Circhton</span>
                    </div>
                  </li>
                  <li>
                    <div class="s-product">
                      <div class="s-product-img">
                        <%= image_tag "gray.png" %>
                        <div class="s-product-hover">
                          <div class="position-center-x">
                            <a href="#" class="plus-icon"><i class="fa fa-shopping-cart"></i></span>
                            <a class="btn-1 sm shadow-0" data-toggle="modal" data-target="#quick-view" href="#">Quick view</a>
                          </div>
                        </div>
                      </div>
                      <h6><a href="book-detail.html">Rock Festival</a></h6>
                      <span>Richard Matherson</span>
                    </div>
                  </li>
                  <li>
                    <div class="s-product">
                      <div class="s-product-img">
                        <%= image_tag "gray.png" %>
                        <div class="s-product-hover">
                          <div class="position-center-x">
                            <a href="#" class="plus-icon"><i class="fa fa-shopping-cart"></i></span>
                            <a class="btn-1 sm shadow-0" data-toggle="modal" data-target="#quick-view" href="#">Quick view</a>
                          </div>
                        </div>
                      </div>
                      <h6><a href="book-detail.html">Summer Festival</a></h6>
                      <span>Edgar Rice Burroghs</span>
                    </div>
                  </li>
                  <li>
                    <div class="s-product">
                      <div class="s-product-img">
                        <%= image_tag "gray.png" %>
                        <div class="s-product-hover">
                          <div class="position-center-x">
                            <a href="#" class="plus-icon"><i class="fa fa-shopping-cart"></i></span>
                            <a class="btn-1 sm shadow-0" data-toggle="modal" data-target="#quick-view" href="#">Quick view</a>
                          </div>
                        </div>
                      </div>
                      <h6><a href="book-detail.html">Festa JUnnai</a></h6>
                      <span>Max Brooks</span>
                    </div>
                  </li>
                  <li>
                    <div class="s-product">
                      <div class="s-product-img">
                        <%= image_tag "gray.png" %>
                        <div class="s-product-hover">
                          <div class="position-center-x">
                            <a href="#" class="plus-icon"><i class="fa fa-shopping-cart"></i></span>
                            <a class="btn-1 sm shadow-0" data-toggle="modal" data-target="#quick-view" href="#">Quick view</a>
                          </div>
                        </div>
                      </div>
                      <h6><a href="book-detail.html">Summer Festival</a></h6>
                      <span>J.R.R. Tolkien</span>
                    </div>
                  </li>
                  <li>
                    <div class="s-product">
                      <div class="s-product-img">
                        <%= image_tag "gray.png" %>
                        <div class="s-product-hover">
                          <div class="position-center-x">
                            <a href="#" class="plus-icon"><i class="fa fa-shopping-cart"></i></span>
                            <a class="btn-1 sm shadow-0" data-toggle="modal" data-target="#quick-view" href="#">Quick view</a>
                          </div>
                        </div>
                      </div>
                      <h6><a href="book-detail.html">New Year Collection</a></h6>
                      <span>Henry Rollins</span>
                    </div>
                  </li>
                  <li>
                    <div class="s-product">
                      <div class="s-product-img">
                        <%= image_tag "gray.png" %>
                        <div class="s-product-hover">
                          <div class="position-center-x">
                            <a href="#" class="plus-icon"><i class="fa fa-shopping-cart"></i></span>
                            <a class="btn-1 sm shadow-0" data-toggle="modal" data-target="#quick-view" href="#">Quick view</a>
                          </div>
                        </div>
                      </div>
                      <h6><a href="book-detail.html">Happy Halloween</a></h6>
                      <span>Lily King</span>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="pagination-holder">
                <ul class="pagination">
                  <li><a href="#" aria-label="Previous">Prev</a></li>
                  <li><a href="#">1</a></li>
                  <li class="active"><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#">4</a></li>
                  <li><a href="#">5</a></li>
                  <li><a href="#">6</a></li>
                  <li><a href="#">7</a></li>
                  <li><a href="#">...</a></li>
                  <li><a href="#">23</a></li>
                  <li><a href="#" aria-label="Next">Next</a></li>
                </ul>
              </div>
              <!-- Pagination -->

            </div>
          </div>
          <!-- Collection Content -->

        </div>
        <!-- Book Collections Tabs -->

      </div>
    </div>
  </section>
</main>

<div class="modal fade quick-view" id="quick-view" role="dialog">
<div class="position-center-center" role="document">
  <div class="modal-content">
    <button class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <div class="single-product-detail">
      <div class="row">

        <!-- Product Thumnbnail -->
        <div class="col-sm-5">
          <div class="product-thumnbnail">
            <img src="images/qiuck-view/img-01.jpg" alt="">
          </div>
        </div>
        <!-- Product Thumnbnail -->

        <!-- Product Detail -->
        <div class="col-sm-7">
          <div class="single-product-detail">
            <span class="availability">Availability :<strong>Stock<i class="fa fa-check-circle"></i></strong></span>
            <h3>Land the Earth Beach</h3>
            <ul class="rating-stars">
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star-half-o"></i></li>
              <li>1 customer review</li>
            </ul>
            <div class="prics"><del class="was">$32.00</del><span class="now">$30.99</span></div>
            <h4>Overview</h4>
            <p>With this highly anticipated new novel, the author of the bestselling Life of Pi returns to the storytelling power and luminous wisdom of his master novel. The High Mountains of Portugal.</p>
            <div class="quantity-box">
              <label>Qty :</label>
              <div class="sp-quantity">
                <div class="sp-minus fff"><a class="ddd" data-multi="-1">-</a></div>
                <div class="sp-input">
                  <input type="text" class="quntity-input" value="1" />
                </div>
                <div class="sp-plus fff"><a class="ddd" data-multi="1">+</a></div>
              </div>
            </div>
            <ul class="btn-list">
              <li><a class="btn-1 sm shadow-0 " href="#">add to cart</a></li>
              <li><a class="btn-1 sm shadow-0 blank" href="#"><i class="fa fa-heart"></i></a></li>
              <li><a class="btn-1 sm shadow-0 blank" href="#"><i class="fa fa-repeat"></i></a></li>
              <li><a class="btn-1 sm shadow-0 blank" href="#"><i class="fa fa-share-alt"></i></a></li>
            </ul>
          </div>
        </div>
        <!-- Product Detail -->

      </div>
    </div>
    <!-- Single Product Detail -->

  </div>
</div>
</div>
