<% provide :title, t(".list_author") %>
<div class="col-12">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title"><%= t ".date_export" %></h4>
        <div class="table-responsive m-t-40">
          <div id="example23_wrapper" class="dataTables_wrapper">
            <div class="dt-buttons">
              <span><%= link_to t(".csv"), admin_authors_path(format: "csv"),
                class: "dt-button buttons-pdf buttons-html5" %></span>
              <span><%= link_to t(".excel"), admin_authors_path(format: "xls"),
                class: "dt-button buttons-pdf buttons-html5" %></span>
              </a>
            </div>
          <div id="example23_filter" class="dataTables_filter">
            <%= search_form_for @q, url: admin_authors_path do |f| %>
              <%= f.search_field :name_or_description_cont %>
              <%= f.submit %>
            <% end %>
          </div>
          <%= paginate @authors %>
          <table class="display nowrap table table-hover table-striped table-bordered dataTable">
            <thead>
              <tr role="row">
                <th><%= t ".avatar" %></th>
                <th><%= t ".name" %></th>
                <th><%= t ".description" %></th>
                <th><%= t ".edit_delete" %></th>
            </thead>
            <tbody>
              <% @authors.each do |author| %>
                <tr role="row" class="odd" id="author-<%= author.id %>" >
                  <td><%= image_tag author.avatar.thumb.to_s %></td>
                  <td><%= author.name %></td>
                  <td><%= raw author.description %></td>
                  <td class="edit_destroy">
                    <%= link_to edit_admin_author_path author do %>
                      <i class="fa fa-pencil" aria-hidden="true"></i>
                    <% end %>
                    <%= link_to admin_author_path(author), method: :delete, remote: true, data:{confirm: t(".sure")} do %>
                      <i class="fa fa-trash-o" aria-hidden="true"></i>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
            </table>
          <%= paginate @authors %>
        </div>
    </div>
  </div>
</div>

