<%= render "layouts/banner" %>
<div class="single-aurthor-detail tc-padding">
  <div class="container">
    <div class="row">
      <aside class="col-lg-4 col-md-5">
        <div class="arthor-detail-column">
          <div class="arthor-img">
            <% if @user.avatar.present? %>
              <%= image_tag @user.avatar.to_s %>
            <% elsif %>
              <%= image_tag "gray.png" %>
            <% end %>
            <% if can? :update, @user %>
              <%= link_to edit_user_path(@user), :class => "edit-tag" do %>
                <i class="fa fa-pencil-square-o"></i><%= t ".edit_profile" %>
              <% end %>
            <% end %>
          </div>
          <div class="arthor-detail">
            <h2><%= @user.name %></h2>
            <span><%= t ".email" %><%= @user.email %></span>
          </div>
          <div class="social-activity">
            <ul class="comments-status">
              <li><i class=""></i></li>
              <li><i class="fa fa-user-o"></i><%= t ".userfollow" %> 1,089</li>
              <li><i class=""></i></li>
            </ul>
            <a href="#" class="btn-1 sm shadow-0"><%= t ".follow_me" %></a>
          </div>
        </div>
      </aside>
      <div class="col-lg-8 col-md-7">
        <div class="single-arthor-detail">
          <div class="single-arthor-widget">
              <div class="single-arthor-widget">
                <h5><%= t ".recommended" %> </h5>
                <div class="filter-tags-holder">
                  <ul id="filterbale-nav" class="option-set">
                    <li><a class="selected" data-filter="*" href="#">All Books</a></li>
                    <li><a data-filter=".most-recent" href="#">Most Recent</a></li>
                    <li><a data-filter=".most-popular" href="#">Most Popular</a></li>
                    <li><a data-filter=".fiction" href="#">Fiction</a></li>
                    <li><a data-filter=".free-books" href="#">Free Books</a></li>
                  </ul>
                </div>
                  <div id="filter-masonry" class="gallery-masonry">
                    <div class="col-lg-3 col-xs-6 r-full-width masonry-grid most-recent">
                      <div class="recommended-book">
                        <div class="recommended-book-img">
                        </div>
                        <div class="recommended-book-detail">
                          <h6>Jewels of Nizam</h6>
                          <span>By Muriel Barbery</span>
                          <ul class="rating-stars">
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star-half-o"></i></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-3 col-xs-6 r-full-width masonry-grid most-popular">
                      <div class="recommended-book">
                        <div class="recommended-book-img">
                          <img src="images/arthor-recommended/img-02.jpg" alt="">
                        </div>
                        <div class="recommended-book-detail">
                          <h6>Cakes &amp; Bakes</h6>
                          <span>By Muriel Barbery</span>
                          <ul class="rating-stars">
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star-half-o"></i></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-3 col-xs-6 r-full-width masonry-grid fiction">
                      <div class="recommended-book">
                        <div class="recommended-book-img">
                          <img src="images/arthor-recommended/img-03.jpg" alt="">
                        </div>
                        <div class="recommended-book-detail">
                          <h6>Jamie’s Kitchen</h6>
                          <span>By Muriel Barbery</span>
                          <ul class="rating-stars">
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star-half-o"></i></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-3 col-xs-6 r-full-width masonry-grid free-books">
                      <div class="recommended-book">
                        <div class="recommended-book-img">
                          <img src="images/arthor-recommended/img-04.jpg" alt="">
                        </div>
                        <div class="recommended-book-detail">
                          <h6>Inexpensive Family</h6>
                          <span>By Muriel Barbery</span>
                          <ul class="rating-stars">
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star-half-o"></i></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
