<%= render "layouts/banner" %>
<div class="product-grid-holder tc-padding">
  <div class="search-custom">
  <%= search_form_for @q, :class=>"navbar-form navbar-right" do |f| %>
    <%= f.label t ".search" %>
    <%= f.search_field :name_or_categories_name_or_authors_name_or_publisher_name_cont,
      :class=>"form-control" %>
    <%= f.submit "search", :class=>"form-control" %>
  <% end %>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 pull-right pull-none">
        <div class="row">
          <% @books.each do |book| %>
            <%= link_to book_path book do %>
              <div class="col-lg-3 col-xs-6 r-full-width">
                <div class="product-box">
                    <div class="product-img">
                      <% if book.image_url.present? %>
                        <%= image_tag book.image_url.to_s %>
                      <% elsif %>
                        <%= image_tag "gray.png" %>
                      <% end %>
                      <ul class="product-cart-option position-center-x">
                        <li>
                          <a class="btn-1 sm shadow-0" data-toggle="modal"
                          data-target="#quick-view-<%= book.id %>" href="#">
                            <i class="fa fa-eye"></i>
                          </a>
                        </li>
                      </ul>
                      <span>
                      <div class="category">
                        <% book.categories.each do |category| %>
                          <div class="category-name"><%= category.name %></div>
                        <% end %>
                      </span>
                      </div>
                      <span class="sale-bacth"><%= book.status %></span>
                    </div>
                    <div class="product-detail">
                      <div class="layout-1">
                          <h5><%= book.name.truncate(Settings.book.max_length_title).to_s.html_safe %></h5>
                          <p><%= book.description.truncate(Settings.book.description_size).
                            to_s.html_safe  %></p>
                          <div class="rating-nd-price">
                            <strong><%= book.publisher.name %></strong>
                            <ul class="rating-stars">
                              <div class="average-review-rating" data-score=<%= book.reviews.average(:rating) %>></div>
                            </ul>
                          </div>
                      </div>
                      <div class="layout-2">
                        <div class="aurthor-detail">
                          <span>
                            <b><%= t ".author" %></b>
                            <% book.authors.each do |author| %>
                              <b><%= author.name %></b>
                            <% end %>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
              <% end %>
            </div>
          <% end %>
        </div>
        <%= paginate @books %>
      </div>
    </div>
  </div>
</div>

<% @books.each do |book_new| %>
  <div class="modal fade quick-view" id="quick-view-<%= book_new.id %>" role="dialog">
    <div class="position-center-center" role="document">
      <div class="modal-content">
        <button class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div class="single-product-detail">
          <div class="row">
            <div class="col-sm-5">
              <div class="product-thumnbnail">
                <% if book_new.image_url.present? %>
                  <%= image_tag book_new.image_url.to_s %>
                <% elsif %>
                  <%= image_tag "gray.png" %>
                <% end %>
              </div>
            </div>
            <div class="col-sm-7">
              <div class="single-product-detail">
                <span class="availability"><%= t ".status:" %><strong><%= book_new.status %><i class="fa fa-check-circle"></i></strong></span>
                <h3><%= book_new.name %></h3>
                <ul class="rating-stars">
                  <div class="average-review-rating" data-score=<%= book_new.reviews.average(:rating) %>></div>
                </ul>
                <h4><%= t ".overview" %></h4>
                <p><%= book_new.description.truncate(500).to_s.html_safe  %></p>
                <ul class="btn-list">
                  <li>
                    <%= link_to book_path(book_new), :class => "btn-1 sm shadow-0" do %>
                      <%= t ".read-more" %>
                    <% end %>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>


<script>
  $('.average-review-rating').raty({
    readOnly: true,
    path: '/assets/',
    score: function() {
      return $(this).attr('data-score')
    }
  });
</script>

