<%= render "layouts/banner" %>
<div class="product-grid-holder tc-padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 pull-right pull-none">
        <div class="row">
        <% @books.each do |book| %>
          <div class="col-lg-3 col-xs-6 r-full-width">
            <div class="product-box">
                <div class="product-img">
                  <%= image_tag "gray.png" %>
                  <ul class="product-cart-option position-center-x">
                    <li><a href="#"><i class="fa fa-eye"></i></a></li>
                    <li><a href="#"><i class="fa fa-share-alt"></i></a></li>
                  </ul>
                </div>
                <div class="product-detail">
                  <span>Novel</span>
                  <h5><%= truncate(book.name, :length => 20) %></h5>
                  <p><%= truncate(book.description, :length => 20) %></p>
                  <div class="rating-nd-price">
                    <ul class="rating-stars">
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star-half-o"></i></li>
                    </ul>
                  </div>
                </div>
              </div>
          </div>
          <% end %>
        </div>
        <%= will_paginate @books, renderer: BootstrapPagination::Rails %>
      </div>
    </div>
  </div>
</div>
