<%= render "layouts/banner" %>
<div class="breadcrumb-holder white-bg">
  <div class="container">
  <div class="breadcrumbs">
    </div>
  </div>
</div>
<main class="main-content">
  <div class="book-detail">
    <div class="container">
      <div class="single-boook-detail">
        <div class="row">
          <div class="col-lg-4 col-md-5">
            <div class="product-thumnbnail">
              <ul class="product-slider">
                  <li>
                    <% if @book.image_url.present? %>
                        <%= image_tag @book.image_url %>
                      <% elsif %>
                        <%= image_tag "gray.png" %>
                      <% end %>
                  </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-8 col-md-7">
            <div class="single-product-detail">
              <span class="availability"><%= t ".status" %><strong><%= @book.status %><i class="fa fa-check-circle"></i></strong></span>
              <h3><%= @book.name %> </h3>
              <ul class="rating-stars">
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star-half-o"></i></li>
                  <li>1 <%= t ".customer_review" %></li>
                </ul>
                <div id="tab-2">
                  <div class="book-info-list">
                    <ul>
                      <li>
                        <span><%= t ".author" %> </span>
                        <% @book.authors.each do |author| %>
                           <%= author.name + ", " %>
                        <% end %>
                      </li>
                      <li>
                        <span><%= t ".category" %> </span>
                        <% @book.categories .each do |category| %>
                          <%= category.name + ", " %>
                        <% end %>
                      </li>
                      <li><span><%= t ".publisher" %> </span><%= @book.publisher.name %></li>
                      <li><span><%= t ".number_of_page" %> </span><%= @book.number_page %></li>
                    </ul>
                  </div>
                </div>
                <h4><%= t ".description" %></h4>
                <p><%= raw @book.description %></p>
                <ul class="btn-list">
                  <li><a class="btn-1 sm shadow-0 " href="#"><%= t ".want_to_read" %></a></li>
                  <li><a class="btn-1 sm shadow-0 blank" href="#"><i class="fa fa-heart"></i></a></li>
                </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="disc-nd-Description tc-padding-bottom">
        <div class="row">
          <div id="disc-reviews-tabs" class="disc-reviews-tabs">
            <div class="col-sm-3">
              <div class="tabs-nav">
              </div>
            </div>
            <div class="col-sm-9">
              <div class="tabs-content">
                <div id="tab-1">
                <div id="tab-1">
                  <div class="reviews">
                    <div class="reviews-list">
                      <ul>
                        <li>
                          <img src="images/reviews/img-01.jpg" alt="">
                          <div class="comment">
                            <div class="reviews-detail">
                              <h6>Andy Patrick <span>October 12, 2015</span></h6>
                              <ul class="rating-stars">
                                  <li><i class="fa fa-star"></i></li>
                                  <li><i class="fa fa-star"></i></li>
                                  <li><i class="fa fa-star"></i></li>
                                  <li><i class="fa fa-star"></i></li>
                                  <li><i class="fa fa-star-half-o"></i></li>
                                </ul>
                              </div>
                            <p>With this highly anticipated new novel, the author of the bestselling Life of Pi returns to the storytelling power and luminous.</p>
                          </div>
                        </li>
                        <li>
                          <img src="images/reviews/img-02.jpg" alt="">
                          <div class="comment">
                            <div class="reviews-detail">
                              <h6>Tonda Kus<span>October 12, 2015</span></h6>
                              <ul class="rating-stars">
                                  <li><i class="fa fa-star"></i></li>
                                  <li><i class="fa fa-star"></i></li>
                                  <li><i class="fa fa-star"></i></li>
                                  <li><i class="fa fa-star"></i></li>
                                  <li><i class="fa fa-star-half-o"></i></li>
                                </ul>
                              </div>
                            <p>With this highly anticipated new novel, the author of the bestselling Life of Pi returns to the storytelling power and luminous.</p>
                          </div>
                        </li>
                        <li>
                          <img src="images/reviews/img-03.jpg" alt="">
                          <div class="comment">
                            <div class="reviews-detail">
                              <h6>Alexander Zaytsev<span>October 12, 2015</span></h6>
                              <ul class="rating-stars">
                                  <li><i class="fa fa-star"></i></li>
                                  <li><i class="fa fa-star"></i></li>
                                  <li><i class="fa fa-star"></i></li>
                                  <li><i class="fa fa-star"></i></li>
                                  <li><i class="fa fa-star-half-o"></i></li>
                                </ul>
                              </div>
                            <p>With this highly anticipated new novel, the author of the bestselling Life of Pi returns to the storytelling power and luminous.</p>
                          </div>
                        </li>
                      </ul>
                    </div>
                    <div class="form-holder add-review">
                          <h5>Add a Review</h5>
                          <h6>Your Rating</h6>
                          <ul class="rating-stars">
                          <li><i class="fa fa-star"></i></li>
                          <li><i class="fa fa-star"></i></li>
                          <li><i class="fa fa-star"></i></li>
                          <li><i class="fa fa-star"></i></li>
                          <li><i class="fa fa-star-half-o"></i></li>
                        </ul>
                          <form class="sending-form">
                            <div class="row">
                              <div class="col-sm-12">
                                <div class="form-group">
                                  <textarea class="form-control" required="required" rows="3" placeholder="Text here..."></textarea>
                                  <i class="fa fa-pencil-square-o"></i>
                                </div>
                              </div>
                              <div class="col-sm-12">
                                <button class="btn-1 shadow-0 sm">submit</button>
                              </div>
                            </div>
                          </form>
                    </div>
                  </div>
                </div>
              </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
