<%= render "layouts/banner" %>
<div class="breadcrumb-holder white-bg">
  <div class="container">
  <div class="breadcrumbs">
    </div>
  </div>
</div>
<main class="main-content">
  <div class="book-detail">
    <div class="container">
      <div class="single-boook-detail">
        <div class="row">
          <div class="col-lg-4 col-md-5">
            <div class="product-thumnbnail">
              <ul class="product-slider">
                  <li>
                    <% if @book.image_url.present? %>
                        <%= image_tag @book.image_url %>
                      <% elsif %>
                        <%= image_tag "gray.png" %>
                      <% end %>
                  </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-8 col-md-7">
            <div class="single-product-detail">
              <span class="availability"><%= t ".status" %><strong><%= @book.status %><i class="fa fa-check-circle"></i></strong></span>
              <h3><%= @book.name %> </h3>
              <ul class="rating-stars">
                  <div class="average-review-rating" data-score=<%= @average_review %>></div>
                </ul>
                <div id="tab-2">
                  <div class="book-info-list">
                    <ul>
                      <li>
                        <span><%= t ".author" %> </span>
                        <% @book.authors.each do |author| %>
                        <%= link_to author_path author do %>
                           <%= author.name %>
                           <% end %>
                        <% end %>
                      </li>
                      <li>
                        <span><%= t ".category" %> </span>
                        <% @book.categories .each do |category| %>
                          <%= category.name + ", " %>
                        <% end %>
                      </li>
                      <li><span><%= t ".publisher" %> </span><%= @book.publisher.name %></li>
                      <li><span><%= t ".number_of_page" %> </span><%= @book.number_page %></li>
                    </ul>
                  </div>
                </div>
                <h4><%= t ".description" %></h4>
                <p><%= raw @book.description %></p>
                <% if user_signed_in? %>
                  <ul class="btn-list">
                      <% request = current_user.requestBooks.find_by book_id: @book.id %>
                      <div id="want">
                        <% if request.present?  && request.status == "accept" %>
                          <li><a class="btn-1 sm shadow-0 "><%= t ".10days" %>
                          <%= request.date_begin.strftime("%Y/%m/%d") %> <%= t ".to" %>
                          <%= request.date_end.strftime("%Y/%m/%d") %></a></li>
                        <% elsif request.present? %>
                          <%= render "request_books/destroy" %>
                        <% else %>
                          <%= render "request_books/create" %>
                        <% end %>
                      </div>
                      <% like = current_user.likes.find_by book_id: @book.id %>
                    <div id="like">
                      <% if like.present? %>
                        <%= render "likes/destroy" %>
                      <% elsif %>
                        <%= render "likes/create" %>
                      <% end %>
                      </div>
                    <li><a class="btn-1 sm shadow-0 blank" href="#"><div id="number_like"><%= @book.likes.count %></div></a></li>
                  </ul>
                <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="disc-nd-Description tc-padding-bottom">
        <div class="row">
          <div id="disc-reviews-tabs" class="disc-reviews-tabs">
            <div class="col-sm-3">
              <div class="tabs-nav">
              </div>
            </div>
              <div class="col-sm-9">
                <div class="tabs-content">
                <div id="tab-1">
                  <div id="tab-1">
                    <div class="reviews">
                      <div class="reviews-list">
                        <% if user_signed_in? %>
                          <%= render "reviews/form" %><br>
                        <% end %>
                        <ul>
                          <div id="reviews-2"><%= render @book.reviews %></div>
                        </ul>
                        <%= paginate @reviews %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<script>
  $('.average-review-rating').raty({
    readOnly: true,
    path: '/assets/',
    score: function() {
      return $(this).attr('data-score')
    }
  });
</script>
