<% provide :title, t(".list_publisher") %>
<div class="col-12">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title"><%= t ".date_export" %></h4>
        <div class="table-responsive m-t-40">
          <div id="example23_wrapper" class="dataTables_wrapper">
            <div class="dt-buttons">
              <span><%= link_to t(".csv"), admin_publishers_path(format: "csv"),
                class: "dt-button buttons-pdf buttons-html5" %></span>
              <span><%= link_to t(".excel"), admin_publishers_path(format: "xls"),
                class: "dt-button buttons-pdf buttons-html5" %></span>
              </a>
            </div>
          <div id="example23_filter" class="dataTables_filter">
            <%= search_form_for @q, url: admin_publishers_path do |f| %>
              <%= f.label :name %>
              <%= f.search_field :name_cont %>
              <%= f.submit %>
            <% end %>
          </div>
          <%= paginate @publishers %>
          <table class="display nowrap table table-hover table-striped table-bordered dataTable">
            <thead>
              <tr role="row">
                <th><%= t ".name" %></th>
                <th><%= t ".edit_delete" %></th>
            </thead>
            <tbody>
              <% @publishers.each do |publisher| %>
                <tr role="row" class="odd" id="publisher-<%= publisher.id %>" >
                  <td><%= publisher.name %></td>
                  <td class="edit_destroy">
                    <% if can? :update, publisher %>
                      <%= link_to edit_admin_publisher_path publisher do %>
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                      <% end %>
                    <% end %>
                    <% if can? :destroy, publisher %>
                      <%= link_to admin_publisher_path(publisher), method: :delete, remote: true, data:{confirm: t(".sure")} do %>
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                      <% end %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
            </table>
          <%= paginate @publishers %>
        </div>
    </div>
  </div>
</div>

