<%= form_for [:admin, @category], :html => {:class => "form-valide"} do |f| %>
  <%= error_messages @category %>
  <div class="field form-group row">
    <div class="col-lg-3 col-form-label">
      <%= f.label :name %>
    </div>
    <div class="col-md-8">
    <%= f.text_field :name, class: "form-control",
      placeholder: "Enter a category name.." %>
    </div>
  </div>
  <div class="actions form-group">
      <%= f.submit yield(:button), class: "btn btn-primary" %>
  </div>
<% end %>
