 <div class="left-sidebar">
  <div class="scroll-sidebar">
    <nav class="sidebar-nav">
      <ul id="sidebarnav">
        <li class="nav-devider"></li>
        <li class="nav-label"><%= t ".home" %></li>
        <li>
          <%= link_to admin_root_path do %>
            <i class="fa fa-tachometer"><%= t ".dashboard" %></i>
          <% end %>
        </li>
        <li> <a class="has-arrow" href="#" aria-expanded="false"><i class="fa fa-user"></i><span class="hide-menu"><%= t ".user" %></span></a>
          <ul aria-expanded="false" class="collapse">
            <li><%= link_to t(".list"), admin_users_path %></li>
            <li><%= link_to t(".create"), new_admin_user_path %></li>
          </ul>
        </li>
        <li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-columns"></i><span class="hide-menu"><%= t ".category" %></span></a>
          <ul aria-expanded="false" class="collapse">
            <li><%= link_to t(".list"), admin_categories_path %></li>
            <li><%= link_to t(".create"), new_admin_category_path %></li>
          </ul>
        </li>
      <li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-book"></i><span class="hide-menu"><%= t ".book" %></span></a>
          <ul aria-expanded="false" class="collapse">
            <li><a href="#"><%= t ".list" %></a></li>
            <li><a href="#"><%= t ".create" %></a></li>
          </ul>
        </li>
        <li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-user"></i><span class="hide-menu"><%= t ".author" %></span></a>
          <ul aria-expanded="false" class="collapse">
            <li><%= link_to t(".list"), admin_authors_path %></li>
            <li><%= link_to t(".create"), new_admin_author_path %></li>
          </ul>
        </li>
        <li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-book"></i><span class="hide-menu"><%= t ".publisher" %></span></a>
          <ul aria-expanded="false" class="collapse">
            <li><%= link_to t(".list"), admin_publishers_path %></li>
            <li><%= link_to t(".create"), new_admin_publisher_path %></li>
          </ul>
        </li>
        <li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-suitcase"></i><span class="hide-menu"><%= t ".request" %></span></a>
          <ul aria-expanded="false" class="collapse">
            <li><a href="#"><%= t ".list" %></a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</div>
