<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <title><%= full_title yield :title %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "admin/admin", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "admin/admin", "data-turbolinks-track": "reload" %>
  </head>

  <body>
  <div id="main-wrapper">
    <%= render "admin/layouts/header" %>
    <%= render "admin/layouts/navbar" %>
    <div class="page-wrapper">
      <%= yield %>
    </div>
  </div>
  </body>
</html>
