<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <title><%= full_title yield :title %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "admin/admin", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "admin/admin", "data-turbolinks-track": "reload" %>
  </head>

  <body>
  <div id="main-wrapper">
    <%= render "admin/layouts/header" %>
    <%= render "admin/layouts/message" %>
    <%= render "admin/layouts/navbar" %>
    <div class="page-wrapper">
    <div class="row page-titles">
      <div class="col-md-5 align-self-center">
          <h3 class="text-primary"><%= yield :title %></h3>
      </div>
      <div class="col-md-7 align-self-center">
        </div>
    </div>
      <%= yield %>
    </div>
  </div>
  </body>
</html>
