<% provide :title, t(".list_user") %>
<div class="col-12">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title"><%= t ".date_export" %></h4>
        <div class="table-responsive m-t-40">
          <div id="example23_wrapper" class="dataTables_wrapper">
            <div class="dt-buttons">
              <span><%= link_to t(".csv"), admin_users_path(format: "csv"),
                class: "dt-button buttons-pdf buttons-html5" %></span>
              <span><%= link_to t(".excel"), admin_users_path(format: "xls"),
                class: "dt-button buttons-pdf buttons-html5" %></span>
              </a>
            </div>
          <div id="example23_filter" class="dataTables_filter">
            <label><%= t ".search" %><input type="search" class="" placeholder="" aria-controls="example23"></label>
          </div>
          <%= paginate @users %>
          <table class="display nowrap table table-hover table-striped table-bordered dataTable">
            <thead>
              <tr role="row">
                <th><%= t ".name" %></th>
                <th><%= t ".email" %></th>
                <th><%= t ".permission" %></th>
                <th><%= t ".edit_delete" %></th>
            </thead>
            <tbody>
              <% @users.each do |user| %>
                <tr role="row" class="odd" id="user-<%= user.id %>" >
                  <td><%= user.name %></td>
                  <td><%= user.email %></td>
                  <td>
                    <% if user.permision == 0 %>
                      <%= t ".user" %>
                    <% elsif user.permision == 1 %>
                      <%= t ".admin" %>
                    <% else %>
                      <%= t ".manager" %>
                    <% end %>
                  </td>
                  <td class="edit_destroy">
                    <%= link_to edit_admin_user_path user do %>
                      <i class="fa fa-pencil" aria-hidden="true"></i>
                    <% end %>
                    <%= link_to admin_user_path(user), method: :delete, remote: true, data:{confirm: t(".sure")} do %>
                      <i class="fa fa-trash-o" aria-hidden="true"></i>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
            </table>
          <%= paginate @users %>
        </div>
    </div>
  </div>
</div>

