<div class="topbar">
  <div class="container">
    <div class="cart-option">
      <ul>
        <li><a href="#" data-toggle="modal" data-target="#login-modal"><i class="fa fa-user"></i><%= t ".login_register" %></a></li>
      </ul>
    </div>
  </div>
</div>
<nav class="nav-holder style-1">
  <div class="container">
      <div class="navigation">
        <ul>
          <li class="active">
            <a href="#"><i class="fa fa-home"></i><%= t ".home" %></a>
          </li>
           <li class="dropdown-icon">
        <a href="#"><i class="fa fa-file-text"></i><%= t ".user" %></a>
        <ul>
          <li><a href="author.html"><%= t ".settings" %></a></li>
          <li><a href="author-detail.html"><%= t ".logout" %></a></li>
        </ul>
      </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<div class="parallax-window inner-banner tc-padding overlay-dark" data-parallax="scroll" data-image-src=<%= asset_path "banner.jpg" %>>
  <div class="container">
    <div class="inner-page-heading h-white">
      <h2><%= t ".banner" %></h2>
    </div>
  </div>
</div>
