<% unless user_signed_in? %>
  <div class="topbar">
    <div class="container">
      <div class="cart-option">
        <ul>
          <li>
            <%= link_to user_session_path do %>
              <i class="fa fa-user"></i><%= t ".login" %>
            <% end %>
            <li>
            <%= link_to new_user_registration_path do %>
              <i class="fa fa-user"></i><%= t ".register" %>
            <% end %>
            </li>
          </li>
        </ul>
      </div>
    </div>
  </div>
<% else %>
<nav class="nav-holder style-1">
  <div class="container">
    <div class="navigation">
      <ul>
        <li class="active">
          <a href="#"><i class="fa fa-home"></i><%= t ".home" %></a>
        </li>
         <li class="dropdown-icon">
      <a href=""><i class="fa fa-file-text"></i><%= t ".user" %></a>
      <ul>
        <li><a href="author.html"><%= t ".settings" %></a></li>
        <% unless current_user.permision == "user" %>
          <li><%= link_to t(".admin"), admin_root_path %></li>
        <% end %>
        <li><%= link_to t(".logout"), destroy_user_session_path, method: :delete %></li>
      </ul>
    </li>
      </ul>
    </div>
  </div>
</nav>
<% end %>

